{% extends "base.html" %}
{% load i18n %}
{% block title %}
  Password Reset Successfully
{% endblock title %}
{% block meta_description %}
  Your password was reset successfully.
{% endblock meta_description %}
{% block content %}
  <div class="stack center">
    <h1>{% translate "Password Reset Successfully" %}</h1>
    <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
    <p>
      <a href="{{ login_url }}">{% translate "Log in" %}</a>
    </p>
  </div>
{% endblock content %}
