{% extends "base.html" %}
{% block title %}
  Password Reset
{% endblock title %}
{% block meta_description %}
  Reset a forgotten password
{% endblock meta_description %}
{% block content %}
  <div class="stack center">
    <h1>Password Reset</h1>
    <p>Enter email address below and we'll email instructions for setting a new one.</p>
    <form class="stack" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send Email</button>
    </form>
  </div>
{% endblock content %}
