{% extends "base.html" %}
{% block title %}
  Example Form
{% endblock title %}
{% block meta_description %}
  A page showing what form fields might look like.
{% endblock meta_description %}
{% block content %}
  <h1>Example Form</h1>
  <p>This page shows how multiple form inputs get rendered.</p>
  <form class="stack" method="get">
    {% csrf_token %}
    {{ form }}
    <h2>Your Favorite Books</h2>
    {{ book_formset.management_form }}
    {% for book_form in book_formset %}
      <fieldset>
        <legend>Book {{ forloop.counter }}</legend>
        {{ book_form }}
      </fieldset>
    {% endfor %}
    <button type="submit">GET</button>
  </form>
{% endblock content %}
